/* General */ 

.main-container {
    height: 33rem;
    padding: 1rem;
    border-radius: var(--border-radius);
    color: #FCFCFC;
}

/* Header */

.header-container {
    height: 15rem;
    border-radius: var(--border-radius);
    background-color: #0A1045; 
}

.text {
    text-align: center;
}

/* Preview */

.preview-container {
    height: 15rem;
    margin-top: 1rem;
    
}

.preview-button {
    width: 10rem;
    height: 5rem;
    
}

/* Buttons */

.btn {
    border-radius: var(--border-radius);
}

.btn--primary {
    background-color: #028090;
}


