<div class="main-container d-flex">
  <div class="movie-container d-flex justify-content-center align-items-center">
    <div>
      <h2 class="movie__title">{{ movieTitle }}</h2>
      <img
        class="image"
        src="../../assets/mission-impossible-poster.jpg"
        alt="Movie poster"
      />
      <p class="movie__description">movie.description</p>
    </div>
    <button
      routerLink="/movie"
      routerLinkActive="active"
      class="btn btn--primary review__button"
    >
      Trailer
    </button>
  </div>
  <div class="desciption-container">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla velit
      sequi totam illo assumenda omnis cumque inventore? Architecto, asperiores
      alias possimus quo facilis praesentium ipsa adipisci fugiat id sapiente,
      voluptatum impedit, quae veniam vitae? Odio impedit deserunt iusto
      reprehenderit ullam.
    </p>
  </div>
</div>
